!!!
!!!
%html
  %head
    %title NaviCyc
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    = stylesheet_link_tag "extjs/ext-all-notheme"
    = stylesheet_link_tag "extjs/xtheme-gray"
    = stylesheet_link_tag "style"

    = javascript_include_tag "extjs/ext-base"
    = javascript_include_tag "extjs/ext-all"
    = javascript_include_tag "ux/TabCloseMenu"
    = javascript_include_tag "DocPanel"
    = javascript_include_tag "MainPanel"
    = javascript_include_tag "SymbolPanel.js"
    = javascript_include_tag "AssertionTree"
    = javascript_include_tag "application"
  %body
    #header
      .apptitle NaviCyc
