<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>NaviCyc</title>
  <%= stylesheet_link_tag "extjs/ext-all-notheme" %>
  <%= stylesheet_link_tag "extjs/xtheme-gray" %>
  <%= stylesheet_link_tag "style" %>

  <%= javascript_include_tag "extjs/ext-base" %>
  <%= javascript_include_tag "extjs/ext-all" %>
  <%= javascript_include_tag "ux/TabCloseMenu" %>
  <%= javascript_include_tag "DocPanel" %>
  <%= javascript_include_tag "MainPanel" %>
  <%= javascript_include_tag "SearchPanel" %>
  <%= javascript_include_tag "application" %>
</head>
<body scroll="no" id="docs">
<div id="header">
  <div class="apptitle">
    NaviCyc
  </div>
</div>
</body>
</html>
