%div{:id => @symbol}
  = render :partial => "caption"
  - @assertions.each do |index,relations|
    #assertions.section
      %span.name= "GAF Arg : #{index}"
      - (relations || []).each do |relation,mts|
        %br
        %span.name= format_comment(relation).tr("'","")
        %br
        - (mts || []).each do |mt,assertions|
          = "Mt : #{format_comment(mt.to_cyc(true)).tr("'","")}"
          %ul
            - (assertions || []).each do |assertion|
              %li= format_assertion assertion,@symbol
