%div{:id => @symbol}
  - @assertions.each do |index,relations|
    #assertions.section
      %span.name= "GAF Arg : #{index}"
      - (relations || []).each do |relation,mts|
        %br
        %span.name= relation
        %br
        - (mts || []).each do |mt,assertions|
          = "Mt : #{link_to mt,"#"}"
          %ul
            - (assertions || []).each do |assertion|
              %li= format_assertion assertion,@symbol
