%div{:id => @symbol}
  #comment.section
    %span.name=@symbol
    = format_comment @symbol.comment
  #generalize.section
    %span.name A type of
    = format_all_genls @symbol.min_genls
  #instance_of.section
    %span.name Instance of
    = format_all_genls @symbol.min_isa
  #specification.section
    %span.name Subtypes
    = format_all_genls @symbol.max_specs
  #instances.section
    %span.name Instances
    = format_all_genls @symbol.instances
